.music-preview {
  display: flex;
  align-items: center;
}

.music-preview label {
  padding-left: 1rem;
}

@media (max-width: 600px) {
  .music-preview audio {
    width: 250px;
  }
}

@media (max-width: 250px) {
  .music-preview audio {
    width: 200px;
  }
}